<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource.oracle" class="com.zaxxer.hikari.HikariDataSource">
        <property name="username" value="POW"/>
        <property name="password" value="123456"/>
        <property name="jdbcUrl" value="jdbc:oracle:thin:@192.8.8.105:1521:powerol"/>
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
    </bean>

    <bean id="dataSource" primary="true" class="com.sou1fy.dyniamic.ddb.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="oracle" value-ref="dataSource.oracle"/>
            </map>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>

